.banner{
    background-image: url(../Assets/img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-left: 4%;
    padding-bottom: 4%;
    margin-bottom: 30px;
    
}
.ban1{
    font-family: italic;
    font-weight: 700;
    font-size: 70.11px;
    letter-spacing: 0;
}
.ban2{
    font-family: italic;
    font-weight: 700;
    font-size: 70.11px;
    letter-spacing: 0;
}
.pro {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;

    justify-content: space-around;
    
}
.pro1 {
  list-style-type: none;
  
}
 .pro2 {
  list-style-type: none;
}
.pro3 {
  list-style-type: none;
}
.btn1{
    background-color: red;
    width: 150%;
    height: 3cap;
}
.btn2{
    background-color: red;
    width: 150%;
    height: 3cap;
}
.btn3{
    background-color: red;
    width: 150%;
    height: 3cap;
}
.plan{
    margin-bottom: 40px;
}
.pro5{
    margin-bottom: 10px;
}
.pros{
    margin-bottom: 20px;
}

.amount {
  font-size: 32px;
  font-weight: bold;
  
}
.pro1 li {
  margin-bottom: 10px; 
}
.per {
  font-size: 16px;
  color: #777; 
  margin-left: 4px;
  
}
.red{
    color: red;
}
.jbtn{
    background-color: red;
    height: 53px;
    width: 152px;
}
.f1{
    font-family: oswald;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px; 
    
}
.red{
    font-family: oswald;
    font-weight: 700;
    font-size: 48px;
}
.f2{
    font-family: oswald;
    font-weight: 50;
    font-size: 28px;
    margin-bottom: 20px; 
    color: #666666;
    
}
.overall{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding: 40px 100px;

}
.footer{
  /* background-video: url(../Assets/track.mp4); */
  margin-bottom: 50Px;
  color: white;
  margin: 0;
  padding: 0;
  height: 40vh; 
  display: flex;
  gap:10px;
  justify-content: space-around;
  
}
.ug1{
    list-style-type:none;
    padding: 0;
    margin: 0;
  
}
.ug1 li {
  margin-bottom: 10px; 
}
.ug2{
    list-style-type:none;
}
.ug2 li {
  margin-bottom: 10px; 
}
.end1{
background-color: black;
color: white;


}
.butt{
    background-color:red;
    height: 8%;
    width: 20%; 
}
.inp{
     height: 7%;
    width: 75%; 
    /* background-color: #777; */
    background-color:#222222;
    opacity: 1; 
    border: none;
  
  padding: 10px;
}
inp::placeholderr{
    color:black; 
  /* opacity: 5;  */
}

.para{
    margin-bottom: 20px; 
}
.icons{
    margin-bottom: 10px; 
}
.end1{
    
    padding: 4%;
}
.event{
  padding-left: 80px;
  font-family: Oswald;
  padding-bottom: 30px;
  font-style: bold;
font-weight: 700;
font-size: 48px;
line-height: 72px;
letter-spacing: 2px;

}

.container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  height: 350px;
  margin-left: 90px;
}
.image-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 386px;
  height: 193px;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 386px;
  height: 193px;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 386px;
  height: 193px;
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-1 {
  border: none;
  box-shadow:2px 1px lightgray ;
}

.box-2 {
  border: none;
  box-shadow:2px 1px lightgray ;
}
.box-3 {
  border: none;
  box-shadow:2px 1px lightgray ;
}
.badge-top {
  position: absolute;
  top: 10px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  z-index: 2;
}

.badge-featured {
  left: 10px;
  background-color: black;
}

.badge-circuit {
  right: 10px;
  background-color: red;
}

.view-btn {
  height: 50px;
  width: 170px;
  margin-top: 20px;
  background-color: white;
  color: red;
  border: 2px soild;
  cursor: pointer;
}
.box-1-btn {
  background-color: red;
  color: white;
  height: 45px;
  width: 300px;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
}
.box-2-btn {
  background-color: red;
  color: white;
  height: 45px;
 width: 300px;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
}
.box-3-btn {
  background-color: red;
  color: white;
  height: 45px;
width: 300px;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 15px;
  margin-top: 20px;
}

.event-date {
  margin: 0 0 10px 15px;
  color: gray;
  font-size: 14px;
}

.pic1 img {
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-top: 20px;
}
.pic-box2 {
  display: flex;
  direction: row;
  width: 100%;
  height: 100%;
  top: 468px;
  gap: 30px;
  margin-left: 75px;
  margin-top: 30px;
}
.pic-box {
  width: 100%;
}
.pic2 img {
  width: 100%;
  height: 401px;
}
.pic3 img {
  width: 85%;
  height: 401px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 50px 100px;
}

.card {
  width: 400px;
  height: auto;
  background: #F8F8F8;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0px;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.communitytxt{
  font-family: Oswald;
font-weight: 700;
font-size: 48px;
line-height: 72px;
letter-spacing: 2px;
text-align: center;
margin-top: 20px;
}

.badge {
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 9999px;
  padding: 4px 12px;
  margin-top: 5px;
}

.wins {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.join-btn {
  display: block;
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  margin: 50px auto;
  width: 260px;
  padding: 16px;
  text-align: center;
}

.join-btn:hover {
  background-color: darkred;
}

.gear {
  width: 100%;
}

.navbar-btn{
   display: flex;
   display: row;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border: none;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 1  ;
    margin-left:-20px;
 
  
    
}
.btn1{

    margin-right: 30px;
    margin-left: 70px;
    color: #E10600;
    height: 45px;
    border: none;
    background-color: white;
    font-size:x-large;


}
.btn2{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
   
    
}
.btn3{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
    
    
}
.btn4{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
    
    
}
.btn5{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
   
    
}
.btn5{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
   
    
}
.btn6{

    margin-right: 30px;
    height: 45px;
    border: none;
    background-color: white;
   
    
}
.btn7{
    background-color: #E10600;
    color: black;
    font: oblique;
    height: 45px;
    border: none;
    color: white;
    width: 90px;;
    margin-right: 50px;
   
}
.banner{
    width: 100%;
    overflow: hidden;
}

 
.ace{
    color:#E10600;
    position:relative;
    
}
.banner{
    background-image: url(./Assets/homeimage.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width:100%;


}
.banner-image{
    margin-top: 22rem;
    margin-left: 11rem;
    bottom: 12rem;
    color: antiquewhite;
    margin-bottom: 10px;
}
.banner-image2{
    margin-left: 11rem;
    bottom: 12rem;
}
  
.banner h1{
    font-size: 100px;
}
.banner button{
    width: 200px;
    height: 50px;
    background-color: #E10600;
    color:white;
    border :none;
}   
.community{
    margin-top: 60px;
    margin-left: 145px;
    width: 80%;
    display: flex;
    direction: row;
    gap:50px;

    
}
.community-text{
    margin-left: 100px;
}
.community img{
    width: 582px;
    height: 600px;
}
.community h1{
    font-size: 96px;
    font-weight: 700;
    ;
}
.community p{
    font-size: 30px;
    font-weight: 200;
    font-size: 40px;
}
.community-text2{
        width: 570px;
        height: 570px;
       
        
       
}
.raceline-txt{
    color: #dd110a;
    font: bold;
}
.Ourstory{
    color: #E10600;
    font-weight: 700;
    font-size: 10px;
    font-style: oblique;
 
    margin-top: 0;
}
.para{
    opacity: 0.6;
    width: 581px;
    height: 579px;
}